<header><h1>Nouveau compte</h1></header>

<body>
  <div id="formDiv">
    <form (submit)="register()" [formGroup]="formAuth">
      <div>
        <input type="text" placeholder="Login" formControlName="username" />
      </div>

      @if (formCtrlUsername.dirty && formCtrlUsername.invalid) {
        <div>Le nom d'utilisation est obligatoire</div>
      }

      <div>
        <input type="password" placeholder="Mot de passe" formControlName="password" />
      </div>

      @if (formCtrlPassword.dirty && formCtrlPassword.hasError('required')) {
        <div>Le mot de passe est obligatoire</div>
      }

      <div>
        <input [disabled]="formAuth.invalid" type="submit" value="S'inscrire" />
      </div>
    </form>
    <a routerLink="/login"> J'ai déjà un compte </a>
  </div>
</body>
