<h1>Page de connexion</h1>

@if (loginError()) {
  <div>Nom d'utilisateur ou mot de passe incorrect !</div>
}

<form (submit)="auth()" [formGroup]="formAuth">
  <div>
    <input type="text" formControlName="username" />
  </div>

  @if (formCtrlUsername.dirty && formCtrlUsername.invalid) {
    <div>Le nom d'utilisation est obligatoire</div>
  }

  <div>
    <input type="password" formControlName="password" />
  </div>

  @if (formCtrlPassword.dirty && formCtrlPassword.hasError('required')) {
    <div>Le mot de passe est obligatoire</div>
  }

  <div>
    <input [disabled]="formAuth.invalid" type="submit" value="Se connecter" />
  </div>
</form>

<button  value="Créer un nouveau compte" >Créer un nouveau compte</button>
