<h1>Liste des livres</h1>




<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Année</th>
      <th>Auteur</th>
      <th>Éditeur</th>
      <th>Collection</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let livre of livres$ | async">
      <td>{{ livre.id }}</td>
      <td>{{ livre.titre }}</td>
      <td>{{ livre.annee }}</td>
      <td>{{ livre.auteur?.prenom }} {{ livre.auteur?.nom }}</td>
      <td>{{ livre.editeur?.nom }}</td>
      <td>{{ livre.collection?.nom }}</td>
      <td>
        <button (click)="edit(livre)">MODIFIER</button>
        <button (click)="remove(livre)">SUPPRIMER</button>
      </td>
    </tr>
  </tbody>
</table>

<form (submit)="addOrUpdate()" [formGroup]="formLivre">
  <div>
    <label>Titre</label>
    <input type="text" formControlName="titre" />
  </div>

  <div *ngIf="formLivre.get('titre')?.dirty && formLivre.get('titre')?.hasError('required')">
    Le titre est obligatoire.
  </div>

  <div>
    <label>Résumé</label>
    <textarea formControlName="resume"></textarea>
  </div>

  <div>
    <label>Année</label>
    <input type="number" formControlName="annee" />
  </div>

  <div *ngIf="formLivre.get('annee')?.dirty && formLivre.get('annee')?.hasError('required')">
    L'année est obligatoire.
  </div>

  <div>
    <label>Auteur</label>
    <select formControlName="auteur">
      <option value="" disabled>-- Choisir un auteur --</option>
      <option *ngFor="let auteur of auteurs$ | async" [value]="auteur.id">
        {{ auteur.prenom }} {{ auteur.nom }}
      </option>
    </select>
  </div>

  <div *ngIf="formLivre.get('auteur')?.dirty && formLivre.get('auteur')?.hasError('required')">
    L'auteur est obligatoire.
  </div>

  <div>
    <label>Éditeur</label>
    <select formControlName="editeur">
      <option value="" disabled>-- Choisir un éditeur --</option>
      <option *ngFor="let editeur of editeurs$ | async" [value]="editeur.id">
        {{ editeur.nom }}
      </option>
    </select>
  </div>

  <div *ngIf="formLivre.get('editeur')?.dirty && formLivre.get('editeur')?.hasError('required')">
    L'éditeur est obligatoire.
  </div>

  <div>
    <label>Collection (optionnel)</label>
    <select formControlName="collection">
      <option value="">-- Aucune collection --</option>
      <option *ngFor="let collection of collections$ | async" [value]="collection.id">
        {{ collection.nom }}
      </option>
    </select>
  </div>

  <div>
    <input [disabled]="formLivre.invalid" type="submit" [value]="editingLivreId ? 'Modifier' : 'Ajouter'" />
  </div>
</form>
